<!DOCTYPE HTML>
<html>
    <head>
        <title>Sandwich File Sharing</title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    </head>
    <body>
        <h1>Local Index</h1>
        <div id="controls" class="container">
            <form action="/search" id="query_form">
                <div class="input-append">
                    <input type="text" placeholder="Search...">
                    <input type="submit" value="Submit" class="btn">
                </div>
            </form>
        </div>
        <div id="everything" class="container">
            <div class="row">
                <div id="peer-list" class="span4">
                    <table class='table'>
                        <tr>
                            <th>Peers</th>
                        </tr>
                        {% for peer in peers %}
                        <tr>
                            <td>
                                <a href="#" data-host="{{peer}}">
                                    {{peer}}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="content" class="span8">
                </div>
            </div>
        </div>
    </body>
</html>
